<div class="espacamento-geral">
  <mat-card>
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
      </div>
      <br/>
      <div align="center" class="quadros row">
        <div class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card>
            <img src="assets/menu.png">
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
