.quadros{
    padding-top: 5px;
}
.cursos:hover{
    cursor: pointer;
    background: #47d3a01f;
}
p{
    color: white;
    padding-top: 30px;
    padding-top:30px;
    text-shadow: 1px 1px 1px #000000;
}
