<div class="espacamento-geral">
  <mat-card>
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/menu.png">
            <p>Informática</p>
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/dados.png">
            <p>História</p>
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/mente-coracao.png">
            <p>Inglês</p>
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/nucleo.png">
            <p>Frânces</p>
          </mat-card>
        </div>
      </div>
      <br/>
      <div align="center" class="quadros row">
        <div class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/nucleo.png">
            <p>Russo</p>
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/mente-coracao.png">
            <p>Enfermagem</p>
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/dados.png">
            <p>Pintura</p>
          </mat-card>
        </div>
        <div align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="cursos">
            <img src="assets/menu.png">
            <p>Bordado</p>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
