.color-sobre{
    background: #13272E;
    color: white;
    height: 60%;
    height: 300px;
}
.espacamento{
    padding-top: 82px;
}
.sobre1{
    background-image: url('../../../assets/informatica.jpg');
    background-size: cover;
}
.sobre2{
    background-image: url('../../../assets/musica.jpg');
    background-size: cover;
}
.sobre3{
    background-image: url('../../../assets/ingles.jpg');
    background-size: cover;
}
.texto{
    margin-top: 20%;
}
.color-sobre2{
    background:#FCDCA3;
    color: white;
    height: 60%;
    height: 300px;
}
.color-sobre3{
    background:#148DE8;
    color: white;
    height: 60%;
    height: 300px;
}
