<div class="espacamento">
  <div class="color-sobre row" align="center">
    <div class="sobre1 col-md-6 col-sm-12">
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="texto">
        <div class="quadrado vermelho"></div>
        <div class="aling-quadrado">
          <span>{{'sobre.venha-estudar' | translate}}</span>
          <div class="borda-bottom vermelho"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="color-sobre2 row" align="center">
    <div class="col-md-6 col-sm-12">
      <div class="texto">
          <div class="quadrado roxo"></div>
          <div class="aling-quadrado">
            <span>{{'sobre.aprenda' | translate}}</span>
            <div class="borda-bottom roxo"></div>
          </div>
        </div>
    </div>
    <div class="sobre2 col-md-6 col-sm-12">
    </div>
  </div>
  <div class="color-sobre3 row" align="center">
    <div class="sobre3 col-md-6 col-sm-12">
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="texto">
          <div class="quadrado preto"></div>
        <div class="aling-quadrado">
          <span>{{'sobre.evolua' | translate}}</span>
          <div class="borda-bottom preto"></div>
        </div>
      </div>
    </div>
    <app-back-top></app-back-top>
  </div>