<div class="espacamento">
  <div class="color-sobre row" align="center">
    <div class="sobre1 col-md-6 col-sm-12">
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="texto">
        <span>ESTE É O TESTE QUE ESTARÁ A VISTA</span>
      </div>
    </div>
  </div>
  <div class="color-sobre2 row" align="center">
    <div class="col-md-6 col-sm-12">
      <div class="texto">
        <span>ESTE É O TESTE QUE ESTARÁ A VISTA</span>
      </div>
    </div>
    <div class="sobre2 col-md-6 col-sm-12">
    </div>
  </div>
</div>
