.color-sobre{
    background: #13272E;
    color: white;
    height: 60%;
    height: 300px;
}
.espacamento{
    padding-top: 82px;
}
.sobre1{
    background-image: url('../../../assets/informatica.jpg');
    background-size: cover;
}
.sobre2{
    background-image: url('../../../assets/musica.jpg');
    background-size: cover;
}
.sobre3{
    background-image: url('../../../assets/ingles.jpg');
    background-size: cover;
}
.texto{
    margin-top: 20%;
}
.color-sobre2{
    background:#3f51b5;
    color: white;
    height: 60%;
    height: 300px;
}
.color-sobre3{
    background:#148DE8;
    color: white;
    height: 60%;
    height: 300px;
}
.quadrado{
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
}
.vermelho{
    background:#e74c3c;
}
.roxo{
        background: #9b59b6;
}
.preto{
    background: #2f2f2f;
}
.aling-quadrado{
    float: left;
    padding-left: 10px;
}