#titulo{
    font-size: 50px;
}
#detalhes{
    margin-top: 50px;
}
.mat-raised-button.mat-primary{
   background-color:#47d3a0;
}
#btn{
    margin-top: 40px;
    float: right;
}
img{
    height: 350px;
    width: 100%;
}

.mat-dialog-content{
    max-height: 77vh !important;
}