a{
    text-decoration: none;
    color:#4285f4;
}
a:hover {
 font-weight: bold;
}
.text-uppercase{
    color: #47d3a0;
    font-weight: bold;
}
.back{
    background: #eeeeee94 !important;
}