<div class="back">
  <footer class="page-footer font-small blue pt-4">
    
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
    
              <!-- Content -->
              <h5 class="text-uppercase">scholl company</h5>
              <p>Helping people get jobs.</p>
              <p>CNPJ: 000.000.000-000</p>
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
    
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a routerLink="cursos">Cursos</a>
                  </li>
                  <li>
                    <a routerLink="eventos">Eventos</a>
                  </li>
                  <li>
                    <a routerLink="sobre">Equipe</a>
                  </li>
                  <li>
                    <a routerLink="sobre">Sobre</a>
                  </li>
                </ul>
    
              </div>
              <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">LINKS</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a routerLink="sobre">Aconselhamento</a>
                  </li>
                  <li>
                    <a routerLink="sobre">Acompanhamento Acadêmico</a>
                  </li>
                  <li>
                    <a routerLink="sobre">Imagens</a>
                  </li>
                  <li>
                    <a routerLink="sobre">Professores</a>
                  </li>
                </ul>
    
              </div>   
          </div>   
        </div>
        <div class="footer-copyright text-center py-3">Desenvolvido por<a href="https://br.linkedin.com/in/luan2850"> Luan Sousa</a>
        </div>  
      </footer>
</div>
