<div class="leaf">
  <footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <h5 class="text-uppercase">{{'home.razao-social' | translate}}</h5>
          <p>{{'home.ideal' | translate}}</p>
          <p>CNPJ: 000.000.000-000</p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a routerLink="cursos">{{'home.cursos' | translate}}</a>
            </li>
            <li>
              <a routerLink="eventos">{{'home.eventos' | translate}}</a>
            </li>
            <li>
              <a routerLink="sobre">{{'home.equipe' | translate}}</a>
            </li>
            <li>
              <a routerLink="sobre">{{'home.sobre' | translate}}</a>
            </li>
          </ul>

        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">LINKS</h5>

          <ul class="list-unstyled">
            <li>
              <a routerLink="sobre">{{'home.aconselhamento' | translate}}</a>
            </li>
            <li>
              <a routerLink="sobre">{{'home.acompanhamento-acad' | translate}}</a>
            </li>
            <li>
              <a routerLink="sobre">{{'home.imagens' | translate}}</a>
            </li>
            <li>
              <a routerLink="sobre">{{'home.professores' | translate}}</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">{{'home.desenvolvido-por' | translate}}<a href="https://br.linkedin.com/in/luan2850"> Luan Sousa</a>
    </div>
  </footer>
</div>