.quadros{
    padding-top: 5px;
}
.eventos:hover{
    background: rgba(242, 245, 78, 0.671) !important;
    cursor: pointer;
    
}
p{
    color: white;
    padding-top: 30px;
    padding-top:30px;
    text-shadow: 1px 1px 1px #000000;
}
#cor{
    background: #47d3a0;
}   