<div class="espacamento-geral" style="background: #47d3a0;">
  <mat-card id="cor">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div [@container]="currentState" *ngFor="let eventos of arrayLinhaUm" (click)="abrirDialog(eventos)" align="center" class="quadros col-md-3 col-sm-12">
          <mat-card class="eventos">
            <img src="{{eventos.imagem}}">
            <p>{{eventos.titulo}}</p>
          </mat-card>
        </div>
      </div>  
      <br/>
      <div align="center" class="quadros row">
        <div [@container]="currentState" *ngFor="let eventosDois of arrayLinhaDois" (click)="abrirDialog(eventosDois)" class="quadros col-md-3 col-sm-12">
          <mat-card class="eventos">
            <img src="{{eventosDois.imagem}}">
            <p>{{eventosDois.titulo}}</p>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
