/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
}
.corPadrao-font{
    color: rgb(71, 211, 160);
}
.corPadrao-back{
    background:rgb(71, 211, 160);
}