<mat-toolbar class="fixed" color="primary">
  <mat-toolbar-row>
    <div>
        <span class="toogle" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
    </div>
    <span id="logo" (click)="router.navigate([''])" class="corPadrao-font">School Logo</span>
    <div class="espaco">
      <ul>
        <li (click)="router.navigate([''])"><span class="itens-navbar">HOME</span></li>
        <li (click)="router.navigate(['cursos'])"><span class="itens-navbar">CURSOS</span></li>
        <li (click)="router.navigate(['eventos'])"><span class="itens-navbar" >Eventos</span></li>
        <li (click)="router.navigate(['sobre'])"><span class="itens-navbar">Sobre</span></li>
      </ul>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
  <div id="mySidenav" class="sidenav">
      <div id="logoSidNav">
        <div (click)="router.navigate(['']);" align="center">
          <span class="textoLogo">SCHOLL</span>
        </div>   
      </div>
      <div id="itens-clicaveis">
        <a  (click)="openNav()" routerLink="">HOME</a>
        <a  (click)="openNav()" routerLink="cursos">Cursos Oferecidos</a>
        <a  (click)="openNav()" routerLink="eventos">Eventos</a>
        <a  (click)="openNav()" routerLink="sobre">Sobre</a>
      </div>
    </div>