$cor-menu-animacao: #47d3a0;
.mat-toolbar {
    color: #999999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
}
ul{
    display: -webkit-inline-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
}
.espaco{
       margin-left: 350px;
}
li{
    padding-left: 18px;
}
@media only screen and (max-width: 815px) {
    .espaco{
        margin-left: 40px;
    }
}
@media only screen and (max-width: 560px) {
    ul{
        display: none;
    }
    .toogle{
        display: block !important;
    }
}
.mat-toolbar-row{
    height: 80px;
}
#logo{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Marker Felt, fantasy;
    text-shadow:0 0 2px #ffffff;
    transition: 2s;
}
.fixed{
    background-size: cover;
    position: fixed;
    z-index: 10000;
}
#logo:hover{
    cursor: pointer;
    color: #999999;
}
.toogle{
    display: none;
    padding-right: 10px;
    color:#47d3a0;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
    background:#47d3a0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.textoLogo{
    color: #47d3a0;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: Marker Felt, fantasy;
    font-size: 20px;
}
.textoLogo:hover{
    border-color: #47d3a0;
    font-weight: bold;
}
#logoSidNav{
    padding-top: 50px;
}
#itens-clicaveis{
    padding-top:10px;
}


.itens-navbar{
    position: relative;
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    transition: color 3s;
}
.itens-navbar:hover{
    color: $cor-menu-animacao;
}
.itens-navbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.itens-navbar:hover:before{
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        width: 0;
        height: 0;
        border-top-color: $cor-menu-animacao;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: $cor-menu-animacao;
        border-right-color: $cor-menu-animacao;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: $cor-menu-animacao;
        border-right-color: $cor-menu-animacao;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.itens-navbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.itens-navbar:hover:after{
    animation: animate2 1s linear forwards;
}
@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $cor-menu-animacao;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $cor-menu-animacao;
        border-left-color: $cor-menu-animacao;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $cor-menu-animacao;
        border-left-color: $cor-menu-animacao;
    }
}
img{
    height: 24px;
    cursor: pointer;
}
.flags{
    margin-top: 6px;
}