<mat-toolbar class="fixed" color="primary">
  <mat-toolbar-row>
    <div>
      <span class="toogle" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
    </div>
    <span id="logo" (click)="router.navigate([''])" class="corPadrao-font">{{'home.logo' | translate}}</span>
    <img id="nav-leaf" src="../../../assets/icons/leaf.svg">
    <div class="espaco">
      <ul>
        <li (click)="router.navigate([''])">
          <div class="itens-navbar"><span>{{'home.home' | translate}}</span></div>
        </li>
        <li (click)="router.navigate(['cursos'])">
          <div class="itens-navbar"><span>{{'home.cursos' | translate}}</span></div>
        </li>
        <li (click)="router.navigate(['eventos'])">
          <div class="itens-navbar"><span>{{'home.eventos' | translate}}</span></div>
        </li>
        <li (click)="router.navigate(['sobre'])">
          <div class="itens-navbar"><span>{{'home.sobre' | translate}}</span></div>
        </li>
        <li>
          <div class="flags">
            <img (click)="alterarLinguagem('pt-br')" src="assets/flags/brasil.png">
          </div>
        </li>
        <li>
          <div class="flags">
            <img (click)="alterarLinguagem('en')" src="assets/flags/united-states.png">
          </div>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div id="mySidenav" class="sidenav">
  <div id="logoSidNav">
    <div (click)="router.navigate(['']);" align="center">
      <span class="textoLogo">SCHOLL</span>
    </div>
  </div>
  <div id="itens-clicaveis">
    <a (click)="openNav()" routerLink="">{{'home.home' | translate}}</a>
    <a (click)="openNav()" routerLink="cursos">{{'home.cursos' | translate}}</a>
    <a (click)="openNav()" routerLink="eventos">{{'home.eventos' | translate}}</a>
    <a (click)="openNav()" routerLink="sobre">{{'home.sobre' | translate}}</a>
    <a>
      <div class="flags" (click)="alterarLinguagem('pt-br')">
        <img src="assets/flags/brasil.png">
        {{'home.portugues' | translate}}
      </div>
    </a>
    <a>
      <div class="flags" (click)="alterarLinguagem('en')">
        <img  src="assets/flags/united-states.png">
        {{'home.ingles' | translate}}
      </div>
    </a>
  </div>
</div>