#img{
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
@media only screen and (max-width: 610px) {
    .texto{
        top: 12% !important;
    }
}
@media only screen and (max-width: 779px) {
    .content{
        margin-top: 40px;
    }
}


.col-sm-12{
    padding-right: 0px; 
    padding-left: 0px;
}
.texto{
    position: absolute;
    top: 17%;
    left: 50%;
    padding:20px;
    transform: translate(-50%, -50%);
    color: #fffdfd;;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
.container{
    position: relative;
    text-align: center;
}
#tituloImagem{
    font-size: 50px;
}
#textoImagem{
    font-size: 20px;
}
#botao{
    background:#47d3a0;
    color:white;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    padding: 19px 44px 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    text-transform: uppercase;
    border: solid 1px transparent;
    text-shadow: 0px 0px !important;
}
#botao:hover{
    background: #080d0e;
}
.row{
    margin-right: 0px;
     margin-left: 0px;
}
.conteudos{
 padding-top:30px;
 padding-bottom: 40px;
}
.icon{
    color: #ffffff;
    font-size: 84px;
}
.titulo{
    font-size: 23px;
    color: #ffffff;
}
.mat-icon{
    width: auto !important; 
}
.texto-conteudos{
    color: #ffffff;
    margin-top: 20px;
}
.botao-conteudos{
    margin-top: 30px;
}
.botao-conteudo{
    background:white;
    color:#47d3a0 !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    padding: 19px 44px 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    text-transform: uppercase;
    border: solid 1px transparent;
    text-shadow: 0px 0px !important;
}
.botao-conteudo:hover{
    background: #080d0e;
    color:white !important;
}
.cursos{
    background: #eeeeee;
    height: auto;
}
.cursos-content{
    padding-top:30px;
}
.cursos-texto{
    background: #ffffff;
    border: solid 1px #ffffff;
    padding: 10px 30px 14px;
    height: 300px;
}
#informatica{
    background-image: url('../../../assets/informatica.jpg');
    background-size: cover;
    border-radius: 50%;
}
#informatica:hover{
    background-image: url('../../../assets/informatica2.jpg');
    border: solid 3px #47d3a0;
}
#ingles{
    background-image: url('../../../assets/ingles.jpg');
    background-size: cover;
    border-radius: 50%;
}
#ingles:hover{
    background-image: url('../../../assets/ingles2.jpg');
    border: solid 3px #47d3a0;
}
#musica{
    background-image: url('../../../assets/musica.jpg');
    background-size: cover;
    border-radius: 50%;
}
#musica:hover{
    background-image: url('../../../assets/musica2.jpg');
    border: solid 3px #47d3a0;
}
.text-content{
    color: white;
    margin-top: 25%;
    font-weight: bold;
 
}
agm-map {
    height: 300px;
  }
  .texto-contato{
    font-size: 23px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }
  .espaco-contato{
    margin-top:20px;
    padding:20px;
  }