<div class="container col-md-12 col-sm-12">
  <img id="img" src="assets/background/imagem1.jpg">
  <div class="texto">
    <span id="tituloImagem">Seja Bem Vindo</span>
    <br/>
    <br/>
    <span id="textoImagem">Escola aberta 24hrs</span>
    <br/>
    <br/>
    <br/>
    <a id="botao">LEIA MAIS</a>
  </div>
  <div class="corPadrao-back">
    <div class="conteudos row">
      <div class="col-md-4 col-sm-12">
TESTE
      </div>
      <div class="col-md-4 col-sm-12">
TESTE
      </div>
      <div class="col-md-4 col-sm-12">
TESTE
      </div>
    </div>
  </div>
</div>