<div class="container col-md-12 col-sm-12">
  <img id="img" src="assets/background/imagem4.jpg">
  <div class="texto">
    <span id="tituloImagem">{{'home.bem-vindo' | translate}}</span>
    <br/>
    <br/>
    <span id="textoImagem">{{'home.escola-aberta' | translate}}</span>
    <br/>
    <br/>
    <br/>
    <a id="botao" routerLink="sobre">{{'botoes.leia-mais' | translate}}</a>
  </div>
  <div class="corPadrao-back">
    <div [@conteudos]="estadoAnimacao" class="conteudos row">
      <div class="col-md-4 col-sm-12">
        <div class="content">
          <mat-icon class="icon">school</mat-icon>
          <div class="titulo">
            <span>{{'home.cursos-profi' | translate}}</span>
          </div>
          <div class="texto-conteudos">
            {{'home.frase-cursos' | translate}}
          </div>
        </div>
        <div class="botao-conteudos">
          <a routerLink="cursos" class="botao-conteudo">{{'botoes.leia-mais' | translate}}</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="content">
          <mat-icon class="icon">book</mat-icon>
          <div class="titulo">
            <span>{{'home.professores-capa' | translate}}</span>
          </div>
          <div class="texto-conteudos">
            {{'home.frase-professores' | translate}}
          </div>
          <div class="botao-conteudos">
            <a class="botao-conteudo" routerLink="sobre">{{'botoes.leia-mais' | translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="content">
          <mat-icon class="icon">transfer_within_a_station</mat-icon>
          <div class="titulo">
            <span>{{'home.horarios-flex' | translate}}</span>
          </div>
          <div class="texto-conteudos">
            {{'home.frase-horarios' | translate}}
          </div>
          <div class="botao-conteudos">
            <a routerLink="sobre" class="botao-conteudo">{{'botoes.leia-mais' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 cursos">
    <div class="row">
      <div style="margin-left: 3%;"class="cursos-content col-md-3 col-sm-12">
        <div id="informatica" class="cursos-texto">
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="cursos-content col-md-3 col-sm-12">
        <div id="ingles" class="cursos-texto">
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="cursos-content col-md-3 col-sm-12">
        <div id="musica" class="cursos-texto">
        </div>
      </div>
    </div>
  </div>
  <div class="corPadrao-back">
    <div class="texto-contato row">
      <div class="espaco-contato col-md-6 col-sm-12">
          <mat-icon class="icon">location_on</mat-icon><br/>
          {{'home.localizacao' | translate}}
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="19">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="espaco-contato col-md-6 col-sm-12">
          <mat-icon class="icon">phone</mat-icon><br/>
          {{'home.contatos' | translate}}
        <div class="contatos-escritos">
         Email: luan26@uninove.edu.br<br>
         {{'home.telefone' | translate}} : 4002-8922<br>
          Github: <a href="https://github.com/luansousa26">luansousa26</a>
        </div>
      </div>
    </div>
  </div>
  <app-back-top></app-back-top>
</div>
