<div class="container col-md-12 col-sm-12">
  <img id="img" src="assets/background/imagem4.jpg">
  <div class="texto">
    <span id="tituloImagem">Seja Bem Vindo</span>
    <br/>
    <br/>
    <span id="textoImagem">Escola aberta 24hrs</span>
    <br/>
    <br/>
    <br/>
    <a id="botao">LEIA MAIS</a>
  </div>
  <div class="corPadrao-back">
    <div class="conteudos row">
      <div class="col-md-4 col-sm-12">
        <div class="content">
          <mat-icon class="icon">school</mat-icon>
          <div class="titulo">
            <span>Cursos Profissionalizantes</span>
          </div>
          <div class="texto-conteudos">
            Kenzen naru tamashii wa,kenzen naru seishin to, kenzen naru nikutai ni yadoru
          </div>
        </div>
        <div class="botao-conteudos">
          <a class="botao-conteudo">LEIA MAIS</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="content">
          <mat-icon class="icon">book</mat-icon>
          <div class="titulo">
            <span>Professores Capacitados</span>
          </div>
          <div class="texto-conteudos">
            Kenzen naru tamashii wa,kenzen naru seishin to, kenzen naru nikutai ni yadoru
          </div>
          <div class="botao-conteudos">
            <a class="botao-conteudo">LEIA MAIS</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="content">
          <mat-icon class="icon">transfer_within_a_station</mat-icon>
          <div class="titulo">
            <span>Horários Flexiveis</span>
          </div>
          <div class="texto-conteudos">
            Kenzen naru tamashii wa,kenzen naru seishin to, kenzen naru nikutai ni yadoru
          </div>
          <div class="botao-conteudos">
            <a class="botao-conteudo">LEIA MAIS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 cursos">
    <div class="row">
      <div style="margin-left: 3%;"class="cursos-content col-md-3 col-sm-12">
        <div id="informatica" class="cursos-texto">
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="cursos-content col-md-3 col-sm-12">
        <div id="ingles" class="cursos-texto">
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="cursos-content col-md-3 col-sm-12">
        <div id="musica" class="cursos-texto">
        </div>
      </div>
    </div>
  </div>
  <div class="corPadrao-back">
    <div class="texto-contato row">
      <div class="espaco-contato col-md-6 col-sm-12">
          <mat-icon class="icon">location_on</mat-icon><br/>
          Localização
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="19">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="espaco-contato col-md-6 col-sm-12">
          <mat-icon class="icon">phone</mat-icon><br/>
        Contatos
        <div class="contatos-escritos">
         Email: luan26@uninove.edu.br<br>
         Telefone: 4002-8922<br>

        </div>
      </div>
    </div>
  </div>
</div>